body {
    background-color: #FCA6C9;
}

.pageStuff {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.white {
    color: white;
}

.coolFont {
    font-family: Arial, sans-serif;
}

.smallFont {
    font-size: 95%;
}

.pageStuff ol {
    font-weight: bold;
    text-align: left;
    line-height: 200%;
}

.pageStuff img {
    width: 200px;
}

.quotation {
    font-size: 40px;
}

footer p {
    margin: 4px auto;
}

h1:hover {
    color: black;
    font-size: 40px;
}